<header class="">
	<nav class="">
	  <div class="">
			<% if current_user %>
	    <%= link_to "Salir", sessions_path, method: :delete, data: { confirm: '¿Estás seguro?' }, class: '' %>
	    <% end %>
	  </div>
	</nav>
</header>